@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

body {
    font-family: "Gentium Plus", serif;
}

h1, h2 {
    font-family: "Gotu", sans-serif;
}

blockquote {
    overflow-wrap: break-word;
}

.title ul {
    list-style-type: initial;
    text-align: left;
    padding-left: 2rem;
}
